@import './style';

div.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

img.about-content-image-image {
  width: 25em;
  height: 25em;
}

div.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

div.about-content-words {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

h4.about-content-words-title {
  color: $color_main1;
  font-weight: bold;
}

p.about-content-words-subtitle {
  color: $color_dark1;
  margin: 0;
}
@media screen and (max-width: 768px) {
  img.about-content-image-image {
    width: 15rem;
    height: 15rem;
  }

  h4.about-content-words-title {
    color: $color_main1;
    font-weight: bold;
    text-align: center;
  }

  p.about-content-words-subtitle {
    color: $color_dark1;
    margin: 0;

    white-space: nowrap;
    text-align: center;
  }

  .about-content-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  img.about-content-image-image {
    width: 20rem;
    height: 20rem;
  }

  h4.about-content-words-title {
    margin-top: 0;
  }

  .about-content-words {
    margin-bottom : 0.8em;
  }

  img.image_store {
    width: auto;
    height: auto;
    max-width: 9rem;
    max-height: 4rem;
  }

  div.reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media screen and (max-width: 320px) {
  img.image_store {
    max-width: 6rem;
    max-height: 3rem;
    width: auto;
    height: auto;
  }
}
