@import './style';

.contact-container{
  display : flex;
  flex-direction: column;
  padding : 30px;
}
.contact-content-words{
  align-self : center;
}
.contact-content-words>h4{
  font-weight : bolder;

}
.contact-content-words>p{


}
.contact-content-words>*{
  text-align: center;
}
.contact-content-info{
  display : flex;
  justify-content: space-between;
}
.contact-content-info>*{
  text-align: center;
}
.contact-content-info-detail{
  flex-basis: 33.33%;
}
.contact-content-info-detail>p{
  font-weight : bold;

}
.contact-content-info-detail>h6{
  color : $color_main1;


}
.email-contact{
  color : $color_main1;
  margin-bottom: 0;
}


#map{
  width : 90%;
  height : 350px;
  align-self: center;
  margin-top : $padding_small;
}
@media screen and (min-width : 1024px)
{

  .email-contact{
    color : $color_main1;

  }
}
@media screen and (max-width : 600px)
{

  #map{
    width : 100%;

  }
  .contact-container{
    padding: 0;
  }
  .contact-content-info{
    flex-direction: column;
  }
  .contact-content-words>h4{

    margin-top : 0;
  }
}
@media screen and (max-width : 360px)
{
  .contact-content-info{
    flex-direction: column;
  }

}
@media screen and (max-width : 320px)
{
  .contact-content-info{
    flex-direction: column;
  }

}
