@import './style';

.footer-container{
  background-color : $color_main1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding : 2.25rem;
}
.footer-social-container{
  display:flex;
  justify-content: center;
  padding: 1.125rem;
}
.social-icon{
  padding : 10px;
}
.footer-social{
      display: flex;


}
.footer-social>p{
  align-self: center;
  font-weight : 400;
  color : #fff;
}
// .footer-nav-items{
//   width: 100%;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
//     margin : 0;
//     //padding: 0px 15% 0 15%;
// }
// .smooth-scroll>p{
//   color : #fff;
//   font-weight : 500;
//   font-size : 2.5vw;
// }
// .footer-navbar{
//   padding : 10px;
//   padding-top : 0px;
// }
// img.image-logo{
//   width : 30%;
//   height :30%;
// }
// .footer-logo{
//   display: flex;
//     justify-content: center;
// }
.footer-nav-items{
  display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
p.footer-nav-text{
  font-size: 21px;
    font-weight: 500;
    color: #fff;
}
.footer-navbar{
  padding-left: 10.25rem;
padding-right: 10.25rem;
}
.footer-logo{
  display: flex;
justify-content: center;
}
.footer-image-logo{
  width: 9rem;
height: 15%;
}
@media screen and (max-width: 600px){
  .footer-nav-items{
    flex-direction: column;
    justify-content: center;
    align-items: center;


  }
  .footer-navbar{
    padding-left: 0;
  padding-right: 0;
  }
  li.footer-nav-item{
    display:flex;
    justify-content: center;
  }
  p.footer-nav-text{
    margin : 5px;
  }
  .footer-scroll{
    border-bottom : none;
  }


}
@media screen and (max-width: 768px){
  .footer-scroll{
    border-bottom : none;
  }
  .footer-navbar{
    padding-left: 5.25rem;
padding-right: 5.25rem;
  }
}
