// @import './style';
//
//
.navbar{
    display : flex;
    flex-direction : row;
    justify-content: space-evenly;
    align-items: center;

    background : transparent;
    transition : all .3s ease;
    border-radius : 2px;
    margin-top : 1.125rem;
    margin-left : 2.25rem;
    margin-right : 2.25rem;
    z-index: 1000;


}
.last-li{
  padding-right : 0 !important;
}
.burger-bar{
  display : none;
  color : #fff;
  float: right;
}
img.image-logo{
  // max-height: 50px !important;
  // max-width: 400px !important;
  max-width: 9rem;
    max-height: 5rem;
    height: auto;
    width: auto;

}
ul.nav-items{

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}
ul.nav-items>*{
  padding-right : 4.5rem;
}
.nav-text{
  font-size : 24px;
  color : #fff;
  font-weight : bold;
}
.nav-text:hover{
  color : darken($color_silver1,0.2);
}

@media screen and (max-width: 768px)
{
  .home-content{
  justify-content: center;
}
  .navbar{

    display : block;
    position: fixed;
    width: 100%;
    margin-top: 0;
    margin-left : 0;
    margin-right : 0;
    flex-wrap : wrap;
  }
  .burger-bar{
    display : block;
  }

  img.image-logo{
    padding : 0px;
    order : 1;
    max-width: 7rem;
      max-height: 4rem;
      height: auto;
      width: auto;
    margin-left : 1.125rem;
  }
  .burger-nav{
    height : inherit;
    order : 2;
    float : right;
    padding: 1.125rem;
    top : 25%;
    cursor : pointer;
  }
  ul.nav-items{
    width : 100%;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-self: auto;
    padding : 0;
    overflow : hidden;
    order : 3;
    margin : 0;
    position: fixed;
    background : rgba(46,204,113,.8);
    height : 0;
    transition: height .5s;
    z-index: 100;



  }
  ul.nav-items >*{
    text-align : center;
    padding : 0;
  }
  ul.open{
     height:19em;
     padding : 0;
     z-index: 100;
  }
  ul li{
    float : none;
    text-align : left;

    margin : 0px;
    box-sizing : border-box;
  }
  ul li a{
    color : #fff;
    padding : 10px;
    display:block;
    margin:0px;

  }
  .nav-text{
    font-size : 16px;
    margin-top : 0.5em;
    margin-bottom : 0.5em;
  }
}






// .navbar >*{
// position: absolute !important;
// top : 0;
// bottom : 0;
// }
// ul li{
//   list-style : none;
//
// }
// ul li a{
//   text-decoration: none;
// }
//
// ul li a:hover{
//   text-decoration: none;
//   color : #2ECC71;
// }
// img.image-logo{
//     display : inline-block;
//     height : 100%;
//     vertical-align: middle;
//     margin-left : 80px;
//     margin-top : 30px;
// }
// .nav-text{
//   display : inline-block;
//   font-size: 1.7vw;
// }
//
//
//
// @media screen and (min-width: 769px)
// {
//     .nav-text{
//       display : table-cell;
//       vertical-align: middle;
//     }
//
//   ul.nav-items{
//     height: 100%;
//     padding-right : 80px;
//     padding-top : 30px;
//
//   }
//   ul li{
//     list-style : none;
//     height : 100%;
//   }
//   ul li a{
//
//     color : white;
//     display : table;
//     padding-right : 30px;
//     text-transform : uppercase;
//     text-decoration: none;
//     font-weight : bold;
//     height: 100%;
//     }
// }
//
//
// @media screen and (max-width: 768px)
// {

// }
