@import './style';

.the-app-container{
  background-color : $color_main1;
  background-image : url("images/app/cloudBG.png");
  background-repeat : no-repeat;
  background-size: cover;
  background-position: center;
  padding : 2.25rem;


}
.app-content-box-container{
  display : flex;
  justify-content: space-between;
}

.app-content-image-box{
    background-color : #fff;
    border-radius : 30px;
    border: 5px solid #fff;
    box-shadow: 0px 1px 8px rgba(0,0,0,0.3);
    width: 25vw;
    height: 25vw;
    padding : 1.125rem;

}
.app-content-words{
  display : flex;
  flex-direction: column;
  text-align : center;
  padding : 1.125rem;
}
.app-content-words >*{
  margin-top : 0px;
  color : #fff;
}
.app-content-words>h4{
  font-weight : 500;


}
.app-content-words>p{
  font-weight : 400;

}
.app-content-image-box>img{
  width : 50%;
  height : 50%;
}
.app-content-image-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.app-content-image-box>h5,.app-content-image-box>p {
  margin : 0px;
}
.app-content-image-box>h5{
  text-transform: uppercase;
  color : $color_main1;
  font-weight : 450;
  padding : 5px;
}
.app-content-image-box>p{
  font-weight : 500;
  padding : 5px;
  text-align: center;
}
@media screen and (max-width: 768px){
  h4{
    font-size : 30px;
    font-size : 1.2rem;
  }
  .app-content-box-container{
    flex-direction : row;
  }
  .app-content-image-box{

      width: 25vw;
      height: 25vw;


  }
  .app-content-words{
    padding-right: 1.125rem;
    padding-left: 1.125rem;
    padding-bottom: 1.125rem;
    padding-top : 0;
  }
  .app-content-words>p{
    font-size : 1.2rem;
  }
  .app-content-words>h4{
    font-size : 30px;
  }
}
@media screen and (max-width : 600px)
{
  h4{
    font-size : 30px;
    font-size : 1.2rem;
  }
  .app-content-box-container{
    flex-direction : column;
  }
  .app-content-image-box>img{
    width : 60%;
    height : 60%;
  }
  .app-content-image-box{
      width: 20rem;
      height: 20rem;
      margin-bottom : 2.25rem;

    }
    .app-content-words{
      padding : 0;
      padding-top: 2.25rem;

    }
    .app-content-words>h4{
      font-size : $font_header_600;

    }

    .app-content-words>p{
      font-size : $font_sub_600;

    }

    .app-content-box-container{
      justify-content: space-evenly;
      align-items: center;
    }
    .the-app-container{
      padding : 0px;


    }
    .app-content-image-box>h5{

        font-size : 2rem;


    }
    .app-content-image-box>p{

        font-size : 1.1rem;


    }
}
@media screen and (max-width : 320px)
{
  #theApp{
    padding-top : 2.25rem;
  }
  .app-content-words>h4{
    font-size : 23px;

  }
  .app-content-words>p{
    font-size : 0.9rem;

  }
  .app-content-image-box>h5{

      font-size : 23px;


  }
  .app-content-image-box{
      width: 15rem;
      height: 15rem;


    }
    .app-content-words{
      padding : 0;


    }
    #about{
      padding-top : 0;
    }
}
