@import './style';

.home-content{
  height : 100%;
  display : flex;
  align-items : center;
  justify-content: flex-end;
  padding : 6em;

}

.home-content-inner{



}
.home-content-slogan{

    color: $color_silver1;

  //  font-weight: 500;
    margin: 20px 0 20px 0;
}
.home-content-slogan-title{
  font-size : 2.125rem;
  font-weight : bold;
  margin-bottom : 0.25em;
  white-space : nowrap;
}
.home-content-slogan-subtitle{
  font-size : 20px;
  margin : 0;
  //font-weight : 400;
}
@media screen and (max-width: 768px){
  .home-content{
    justify-content: center;
  }
  .home-content-slogan{
    padding-right : 0px;
    margin-top : 8rem;
  }
  .home-content-slogan-title{
    font-size : 2.125rem;

    text-align: center;

  }
  .home-content-slogan-subtitle{

    text-align: center;
  }
}
