@import './style';





.section-container{
  padding-top : 6em;
  padding-bottom : 6em;

  }
@media screen and (max-width: 768px){

.section-container{
  padding : 4em;

  }
}

//font size
.header{
  font-size : $font_header_lap;
}
.sub-header{
  font-size : $font_sub_lap;
}

@media screen and (max-width: 860px){
  .header{
    font-size : $font_header_768;
  }
  .sub-header{
    font-size : $font_sub_768;
  }
}

@media screen and (max-width: 600px){
  .header{
    font-size : $font_header_600;
  }
  .sub-header{
    font-size : $font_sub_600;
  }
}
@media screen and (max-width: 375px){
  .header{
    font-size : $font_header_360;
  }
  .sub-header{
    font-size : $font_sub_360;
  }
}
@media screen and (max-width: 320px){
  .header{
    font-size : $font_header_320;
  }
  .sub-header{
    font-size : $font_sub_320;
  }
}
