//color
$color_main1 : #2ECC71;
$color_main2 : #27AE60;

$color_silver1 : #ECF0F1;
$color_silver2 : #BDC3C7;

$color_silver3 : #95A5A6;
$color_silver4 : #7F8C8D;

$color_dark1 : #34495E;
$color_dark2 : #2C3E50;
//font

$font_roboto : Roboto;
$font_roboto_condensed : Roboto Condensed;
//font-size
$font_header_600 : 2rem;
$font_sub_600 : 1.1rem;

//font-size
$font_header_320 : 25px;
$font_sub_320 : 1.0rem;
