//color
$color_main1 : #2ECC71;
$color_main2 : #27AE60;

$color_silver1 : #ECF0F1;
$color_silver2 : #BDC3C7;

$color_silver3 : #95A5A6;
$color_silver4 : #7F8C8D;

$color_dark1 : #34495E;
$color_dark2 : #2C3E50;
//font

$font_roboto : Roboto;
$font_roboto_condensed : Roboto Condensed;
//font-size
$font_header_600 : 27px;
$font_sub_600 : 1.1rem;

//font-size
$font_header_360 : 25px;
$font_sub_360 : 0.9rem;

$font_header_320 : 23px;
$font_sub_320 : 0.8rem;

//font-size ipad
$font_header_768 : 30px;
$font_sub_768 : 1.2rem;

//font size laptop
$font_header_lap : 36px;
$font_sub_lap : 1.7em;


$font_sub_std : 1em;
//margin padding standard
$padding_small : 4em;




.header{
  font-size : $font_header_lap;
}
.sub-header{
  font-size : $font_sub_lap;
}



@media screen and (max-width: 600px){

.section-container{
  padding-top : $padding_small;
  padding-left : $padding_small;
  padding-right : $padding_small;

}
}


@media screen and (max-width: 860px){
  .header{
    font-size : $font_header_768;
  }
  .sub-header{
    font-size : $font_sub_768;
  }
}

@media screen and (max-width: 600px){
  .header{
    font-size : $font_header_600;
  }
  .sub-header{
    font-size : $font_sub_600;
  }
}
@media screen and (max-width: 375px){
  .header{
    font-size : $font_header_360;
  }
  .sub-header{
    font-size : $font_sub_360;
  }
}
@media screen and (max-width: 320px){
  .header{
    font-size : $font_header_320;
  }
  .sub-header{
    font-size : $font_sub_320;
  }
}
